@import '_vars';
@import 'mixins';
@import 'vendor/reset';
@import 'vendor/font-awesome';

// Обнуление

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%; // Адаптивный шрифт
}

body {
	background-color: $white; // Стандартный задний фон
	color: $primary; // Стандартный цвет шрифта
	font-size: 1.4rem; // Стандартный размер шрифта
	font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto',
		'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji'; // Подлкюченые шрифты
	line-height: 1.5;
}

/* Blocks */

@import 'blocks/container';
@import 'blocks/page';
@import 'blocks/content';
@import 'blocks/header';
@import 'blocks/search';
@import 'blocks/btn';
@import 'blocks/nav';
@import 'blocks/cards';
@import 'blocks/services';
@import 'blocks/footer';
@import 'blocks/embed';
@import 'blocks/goods';
@import 'blocks/user';
@import 'blocks/stars-group';
@import 'blocks/burger';
