<header class="header">
	<div class="burger">
		<span></span>
	</div>

	<nav class="nav">
		<a href="index.html" class="nav__logo">
			<img src="/assets/images/logo.svg" alt="Логотип" />
		</a>
		<div class="nav__left">
			<ul class="nav__list">
				<li class="nav__item"><a href="" class="nav__link">Авто</a></li>
				<li class="nav__item">
					<a href="" class="nav__link">Недвижимость</a>
				</li>
				<li class="nav__item">
					<a href="" class="nav__link">Работа</a>
				</li>
				<li class="nav__item">
					<a href="" class="nav__link">Услуги</a>
				</li>
			</ul>
		</div>
		<div class="nav__right">
			<div class="nav__auth">
				<a href="#" class="btn nav__auth-sign">Вход и регистрация</a>
				<a href="#" class="btn btn_sm btn_blue nav__auth-ads"
					>Подать объевление</a
				>
			</div>
		</div>
	</nav>
	<!-- /.nav -->
	<div class="search">
		<input
			type="text"
			class="search__input"
			placeholder="Поиск по объявлениям"
		/>
		<button class="search__button">
			<img
				src="/assets/images/search.svg"
				alt="Найти"
				class="search__icon"
			/><span>Найти</span>
		</button>
	</div>
	<!-- /.search -->
</header>
